root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{sln,csproj,cs,axaml,gd,gdshader,props}]
indent_style = tab
indent_size = 4

[*.{json,xml,yml,yaml,cmd,sh}]
indent_style = space
indent_size = 2

[*.cs]
csharp_style_expression_bodied_methods = true:recommended
