root=true
[*]
max_line_length=127
trim_trailing_whitespace=true
insert_final_newline=true
[*.{csproj,cs,axaml,gdshader,json}]
indent_style=tab
indent_size=2
[.{cs,axaml}]
indent_size=4
[*.gdshader]
end_of_line=lf
